<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>

    {{>headers}}

    <h2 style="padding-bottom: 50px;font-size:23px">{{message}}</h2>

    <img src="/img/2456051.jpg" alt="" width="500px" height="400px">

    {{>footer}}

</body>

</html>