<p class="title-style">{{title}}</p>

<ul class="nav">
    <a href="/">
        <li class="nav-item">Weather</li>
    </a>
    <a href="/about">
        <li class="nav-item">About</li>
    </a>
    <a href="/help">
        <li class="nav-item">Help</li>
    </a>
</ul>
<hr style="width:150px;text-align:left;margin-left:0">